body {
  background-color: midnightblue;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: 20px;
  color: white;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header
h1 {
  font-family: "Helvetica Neue";
}
