body {
  background-color: white;
}

h1 {
  color: midnightblue;
  text-align: center;
}

h3 {
  color: black;
  text-align: center;
}

p {
  font-family: "Helvetica Neue";
  font-size: 20px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header
h1 {
  font-family: "Helvetica Neue";
  font-weight: bold;
  
}